  //register



  .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.467);
      z-index: 10;
      opacity: 0;
     
      transition: opacity 0.5s ease;
    
  }

  .register-panel {
      display: none;

      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: #191919;
      padding: 20px;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
      z-index: 20;
      width: 320px;
      height: 100%;
      color: white;

      opacity: 0;

      transform: translateY(-50%) translateX(100%);

      transition: opacity 0.3s ease, transform 0.3s ease;

      h2 {
          margin-left: 104px;
          font-size: 15px;
          margin-top: 24px;
          margin-bottom: 24px;
      }
  }

  .register-panel input {
      width: 272px;
      height: 40px;
      border: none;
      background-color: #212123;
      color: white;
      cursor: pointer;

      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 8px;

      &:hover {
          border: 1px solid #6C3EB8;
      }

      &:focus {
          border: 1px solid #6C3EB8;
      }

      &:active {
          border: 1px solid #6C3EB8;
      }
  }

  .register-panel button {
      width: 272px;
      height: 38px;
      border-radius: 6px;
      margin-top: 24px;
      padding: 10px;
      background-color: #6C3EB8;
      color: white;
      border: none;
      cursor: pointer;
  }

  .register-panel .close-btn {
      position: absolute;
      top: -20px;
      right: -110px;
      font-size: 20px;
      color: #576067;
      background: none;
      border: none;
      cursor: pointer;
  }